@font-face {
  font-family: "fontspa";
  src: url(../fonts/UVNKieu_B.TTF);
}
.text {
  color: #660000;
  margin-top: 10px;
}
p {
  margin-top: 15px;
}
.like {
  display: flex;
  margin-top: 30px;
}
.fb-like {
  margin-left: 15px;
  margin-top: 4px;
}
.logo-zalo {
  margin-left: 13px;
  border-radius: 10px;
}
.news .container-fluid {
  background-image: url("../images/Layer\ 49.png");
  background-size: cover;
  padding-bottom: 30px;
}
.news .news_title {
  font-size: 50px;
  color: #7b0200;
  margin-top: 60px;
  font-family: "fontspa";
}
.news .news_content {
  padding: 0px;
  margin: 15px 15px 30px 15px;
}
.news .news_content .card-title {
  color: #7b0200;
  font-weight: bold;
  font-size: 14px;
}
.news .news_content .card-tex {
  font-size: 14px;
}
.news .text-center button {
  width: 371px;
  height: 50px;
  background: none;
  border: #7b0200 solid 1px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .news .text-center button {
    width: 180px;
    height: 40px;
    background: none;
    border: #7b0200 solid 1px;
    border-radius: 5px;
  }
}
svg {
  stroke: #000;
  stroke-width: 1;
  position: relative;
}
hr {
  color: #000;
  /* width: 2px;  */
  margin: -18px;
}
.text-black {
  margin-top: 0px;
}
