@font-face {
  font-family: "fontspa";
  src: url(../fonts/UVNKieu_B.TTF);
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.news {
  position: relative;
}
.main-news {
  background-image: url("../images/Rectangle\ 16.png");
  padding: 35px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-news h1 {
  color: #ffb628;
  font-size: 18px;
}
.main-news p {
  color: #fdfbfb;
  font-size: 14px;
}
@media (max-width: 991px) {
  /* .main-news p {
    display: none;
  } */
}
/* tin tức mới nhất */
.new-news {
  margin-top: 25px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.news-content {
  float: right;
  width: 650px;
}
.newss h6 {
  font-size: 18px;
  color: #7b0200;
}
.newss p {
  margin-top: 10px;
}
/* .news-content .place {
  font-style: italic;
  justify-content: end;
} */

.news-content span i,
label {
  color: #999;
}
/* Chủ đề mới nhất */
.topic {
  margin: 0px 5px;
}
.new-topic h6 {
  font-size: 14px;
  color: #fdfbfb;
}
.new-topic .new-topic-content {
  color: #999;
  font-size: 14px;
}
.page-link {
  background-color: #660000;
  color: #ffcc33;
  width: 30px;
  height: 32px;
  text-align: center;
}
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination li a {
  text-align: center;
  padding: 2px;
}
.page-lin:hover {
  background-color: black;
}
.page-item {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.resting {
  color: #ffb628;
  margin-top: 10px;
}
.tintuc {
  font-family: "fontspa";
  font-size: 50px;
  color: #660000;
  margin-top: 40px;
}
@media (max-width: 480px) {
  .newss h6 {
    margin-top: 10px;
    font-size: 15px;
  }
  .news {
    position: relative;
  }
  .tintuc {
    margin-top: 20px;
    font-size: 43px;
    margin-left: 5px;
  }
  .news {
    position: relative;
  }
  .main-news {
    background-image: url("../images/Rectangle\ 16.png");
    padding: 0px 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
  .main-news h1 {
    color: #ffb628;
    font-size: 6px;
    margin-top: 10px;
  }
  .main-news p {
    color: #fdfbfb;
    font-size: 6px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .news {
    position: relative;
  }
  .main-news {
    background-image: url("../images/Rectangle\ 16.png");
    padding: 5px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 105px;
  }
  .main-news h1 {
    color: #ffb628;
    font-size: 14px;
    margin-top: 10px;
  }
  .main-news p {
    color: #fdfbfb;
    font-size: 14px;
    margin-top: 0px;
  }
  .tintuc {
    margin-top: 20px;
    font-size: 45px;
    margin-left: 5px;
  }
  .newss h6 {
    margin-top: 10px;
  }
}
