@font-face {
  font-family: "fonttitle";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "fontform";
  src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: "fontnew";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "fontinput";
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

div.background_header {
  background-image: url("../images/Rectangle\ 16.png"),
    url("../images/Layer53.png");
}
/* .logo_image::before {
  content: "";
  background: rgba(0, 0, 0, 0.918);
  width: 100%;
  height: 100%;
  position: absolute;
} */
.logo_image {
  position: relative;
  top: 0;
  /* left: 43%; */
  margin: 10px 0px;
}
.nav {
  margin-bottom: 20px;
}
.nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  background: #ffb628;
  justify-content: center;
  margin: 0;
}

.nav ul li {
  list-style-type: none;
  /* padding: 1rem 3rem; */
  position: relative;
  /* border-right: #010101 solid 1px; */
}
.nav ul li::after {
  content: "|";
  color: black;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 20px;
}
.nav ul li ul {
  position: absolute;
  top: 57px;
  left: 0;
  display: none;
  padding: 0;
  width: 250px;
  z-index: 999;
}
.nav ul li:hover ul {
  display: block;
}
.nav ul li a {
  text-transform: uppercase;
  font-family: "Myriad Pro";
}
.nav-toggle {
  display: none;
}

.header i {
  font-size: 30px;
  color: white;
}

.nav ul li:hover {
  color: #000;
  font-weight: bold;
}
nav ul li a:hover::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 5px 5px 0 0;
  top: 40px;
}
.nav ul li:hover > a {
  color: #000;
}
.nav ul li > ul li {
  border-bottom: 1px solid white;
  text-align: left;
  padding: 1rem 1rem;
  color: #fff;
}
.nav ul li ul li a {
  color: black;
}
.mobile-menu ul li:hover {
  background-color: rgb(214, 205, 205);
  font-weight: bold;
  color: black;
}
.mobile-menu ul li a:hover {
  color: black;
}
/* tìm kiếm */
div.find {
  padding: 3px;
  /* margin-top: 20px; */
}
.finds {
  margin-top: 20px;
}
p.text-find {
  background-color: #ffb628;
  text-align: center;
  padding: 10px;
}
form .tu-khoa {
  color: #ffb628;
  margin: 22px 0px 8px 0px;
  font-size: 14px;
}
form .thanh-pho {
  color: #ffb628;
  margin: 22px 0px 8px 0px;
}
div.find form {
  margin: 0px 16px;
}

.inputsearch {
  width: 100%;
  height: 40px;
}
.text-rasting {
  margin: 30px 0px 10px 2px;
  color: #ffb628;
}
form .button-find {
  padding: 0px;
}
form button {
  margin: 20px 0px 0px 0px;
  width: 58px;
  height: 30px;
  background-color: #ffb628;
  border: #ffb628 solid 1px;
}
/* form .rasting p, form .rasting a {

} */
/* footer1 */
.footer1 {
  /* margin: -20px 0px; */
  padding: 30px;
  background-color: #ebebeb;
}
.footer1 p {
  margin: 0px;
}
.footer1 .info ul li {
  list-style: none;
}
.footer2 {
  /* margin: 80px; */
  padding: 50px 0px;
  background-color: #000;
  width: 100%;
  text-align: center;
  color: #ffff;
}
.footer2 p {
  margin: 0px;
}
/* css chung */
h1 {
  font-size: 50px;
}
a {
  text-decoration: none;
  color: #010101;
}
i.fa-star {
  color: #ffb628;
}
/* menu moblie */
.mobile-menu {
  display: none;
}
html {
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.mobile-menu {
  display: none;
  position: relative;
  width: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 25px auto 0 !important;
  text-align: center;
  line-height: 19px !important;
  background: #ffb628;
}
.mobile-menu * {
  -webkit-tap-highlight-color: transparent !important;
  font-family: Arial;
}
.mobile-menu a {
  color: #ebebeb;
  text-decoration: none;
}
.mobile-menu .mobile-menu-main-list,
.mobile-menu .mobile-menu-main-list li {
  margin: 0px;
  padding: 0px;
}
.mobile-menu ul {
  display: block;
  width: auto !important;
  margin: 0 auto !important;
  overflow: hidden;
  list-style: none;
}
.mobile-menu .mobile-menu-main-list li {
  display: inline;
  padding: 0px;
  margin: 0px !important;
}
.mobile-menu-toggled {
  display: none;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto !important;
}
.mobile-menu-button:hover {
  cursor: pointer;
}
.mobile-menu .mobile-menu-toggled ul {
  display: none;
  margin: 0px !important;
  padding: 0px !important;
}
.mobile-menu .mobile-menu-toggled ul li {
  display: block;
  margin: 0 auto !important;
}
/* MINIMAL STYLE */

.mobile-menu.minimal a {
  color: #fff;
}
.mobile-menu.minimal a:hover {
  opacity: 0.7;
}
.mobile-menu.minimal .mobile-menu-main-list li a {
  display: inline-block;
  padding: 8px 30px 8px 30px;
  margin: 0px -3px 0px -3px;
  font-size: 15px;
}
.mobile-menu.minimal .mobile-menu-toggled {
  width: 100%;
  min-height: 36px;
}
.mobile-menu.minimal .mobile-menu-toggled-controls {
  display: block;
  height: 36px;
  color: #fff;
  text-align: left;
  position: relative;
  cursor: pointer;
}
.mobile-menu.minimal .mobile-menu-toggled-title {
  position: relative;
  top: 9px;
  left: 9px;
  font-size: 16px;
  color: #fff;
}
.mobile-menu.minimal .mobile-menu-button {
  display: block;
  position: absolute;
  right: 9px;
  top: 7px;
}

.mobile-menu.minimal .mobile-menu-button span {
  display: block;
  margin: 4px 0px 4px 0px;
  height: 2px;
  background: #fff;
  width: 25px;
}
.mobile-menu.minimal .mobile-menu-toggled ul li a {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid #dedede;
  color: #fff;
}
.mobile-menu.minimal .mobile-menu-toggled ul li:first-child a {
  border-top: 1px solid #dedede;
}
@media (max-width: 991px) {
  .nav {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
