@font-face {
  font-family: "fontspa";
  src: url(../fonts/UVNKieu_B.TTF);
}
/* spa uy tín*/
/* menu */
h1 {
  font-family: "fontspa";
  /* color: #ffcc33; */
  margin-left: 20px;
}
.hr {
  width: 92%;
  margin-left: 33px;
  margin-top: 1px;
}
div.content {
  padding: 0;
}
div.container div h1 {
  font-family: "fontspa";
}
.menu1 ul {
  list-style: none;
  text-align: center;
}
.menu1 ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0px 20px;
}
.menu1 ul li a {
  text-decoration: none;
  color: #010101;
}
.menu1 ul li a:hover {
  background-color: #ebebeb;
  border: 1px solid black;
  padding: 7px;
}

/* card */
.good_spa {
  margin: 0;
  padding: 0;
}
.card_content {
  padding: 0px;
  margin: 17px;
  background-color: #ebebeb;
  transition: 0.5s;
}
.card_content:hover {
  padding: 0px;
  margin: 15px;
  background-color: #ccc;
  transition: 0.5s;
}
.news_content .card-body {
  padding: 10px;
}
.good_spa_title {
  transition: 0.5s;
}
.good_spa_title:hover {
  color: #7b0200;
  transition: 0.5s;
}
.good_spa_image {
  transition: 0.5s;
}
.good_spa_image:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.card_content .card_content_title {
  font-weight: bold;
  font-size: 14px;
}
.card_content div .place {
  font-size: 13px;
  margin-top: 0;
}
.card_content div .card-text {
  font-size: 14px;
}
/* tiêu biểu */
.represent {
  margin-top: 30px;
  background-image: url("../images/Rectangle\ 16.png"),
    url("../images/Layer\ 80.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 20px 150px; */
}
.represent .represent_title {
  padding-top: 20px;
  color: #ffb628;
  font-size: 50px;
}
.represent_spa a,
.represent_spa p {
  color: white;
}
.represent_spa a:hover {
  color: #ffb628;
}
.represent-image:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.represent-image {
  transition: 0.5s;
}
/* tin tức */
.news {
  background-image: url("../images/Layer\ 49.png");
  background-size: cover;
  padding-bottom: 30px;
}
.news .news_title {
  font-size: 50px;
  color: #7b0200;
  margin-top: 60px;
}
.news .news_content {
  padding: 0px;
  margin: 15px 15px 30px 15px;
}
.news .news_content .card-title {
  color: #7b0200;
  font-weight: bold;
  font-size: 14px;
}
.news .news_content .card-tex {
  font-size: 14px;
}
.news .text-center button {
  width: 371px;
  height: 50px;
  background: none;
  border: #7b0200 solid 1px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .news .text-center button {
    width: 180px;
    height: 40px;
    background: none;
    border: #7b0200 solid 1px;
    border-radius: 5px;
  }
}
svg {
  stroke: #000;
  stroke-width: 1;
  position: relative;
}
hr {
  color: #000;
  /* width: 2px;  */
  margin: -18px;
}
